html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a, a:hover {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
}

h1 {
    font-size: 20pt;
    text-align: center;
}

.impress {
    text-align: center;
}

.main-sponsor {
    width: 100%;
}
.sponsor {
    width: 49%;
}
@media (min-width: 768px) {
    .main-sponsor {
        width: unset;
        height: 12rem;
    }
    .sponsor {
        width: unset;
        height: 5rem;
        margin-right: 30px;
    }
}

.abmelden {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
